<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

<p>
  Splurty was bult by <a target="_blank" href="https://github.com/danielsfskim">Daniel Kim</a>, a highly-motivated new up-and-coming software engineer who can adapt in almost any situation, especially when given <strong>good coffee.</strong>
</p>

<br />

<p>
  Daniel strives to develop products and services with his teams using technology and design frameworks as his medium. When he is not coding away, you can find him exploring national parks or reading on his kindle.
<p/>

<p>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here </a>
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'daniel.jpg', class: 'img-fluid' %>
</div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Daniel S. Kim</h2>
    <br />
    <p>
      Daniel is a design-thinker and aspiring software engineer. After working as a market analyst for a design consultancy, he forgoed the MBA path to pursue technology and design strategy. Check out his medium page <A target="_blank" href="https://medium.com/@danielsfskim">here.</A>
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />

